<div class="container">
  <div class="content">
    <div class="row" *ngIf='isLoading'>
      <div class="col-md-12 col-sm-12 col-xs-12 text-center">
        Loading...
      </div>
    </div>
    <div *ngIf="Loaded">
      <app-welcome></app-welcome>

      <h2>Paste</h2>

      <div class="row">
        <div class="col-md-12">
          <div class="container">
            <ul class="ss-share">
              <li class="ss-share-item">
                <a class="btn btn-primary" (click)="onEdit()">
                  <i class="fas fa-edit"></i>&nbsp;Edit
                </a>
              </li>
              <li class="ss-share-item">
                <a class="btn btn-warning" href="#">
                  <i class="fas fa-flag"></i>&nbsp;Report abuse
                </a>
              </li>
              <!-- <li class="ss-share-item">
                <a class="ss-share-link ico-paste" href="#">
                  <i class="fas fa-flag"></i>&nbsp;Report abuse</a>
              </li> -->
            </ul>
          </div>
        </div>

        <div class="col-md-6">
          <button (click)="copyInputURL(iptURL)" onclick="myFunction();" class="btn btn-success btn-sm">Copy URL</button>
          &nbsp;
          <input class="nothing" style="width:100%"  value="{{urlPaste}}" #iptURL />

          <script>
              function myFunction() {
                  var copyText = document.getElementById("shorturl");
                  copyText.select();
                  document.execCommand("Copy");
              }
          </script>
        </div>

        <div class="col-md-6 text-right">
        </div>

        <div class="col-md-12">
          Pasted by {{userNamePaste}}</div>
        <div class="col-md-12">
          <pre *ngIf='notMarkDown'><code highlight [textContent]="contentPaste"></code></pre>

          <div *ngIf='isMarkDown' style="border:1px solid #ccc;background-color:#fff; padding: 10px;border-radius:3px;">
            <div style="background-color:#333; color:#fff;padding: 10px">
              <markdown ngPreserveWhitespaces>
                {{contentPaste}}
              </markdown>
            </div>
          </div>

        </div>
        <p>&nbsp;</p>


      </div>

      <div *ngIf="selectedEdit">
        <h2>Enter text here</h2>
        <div class="row">
          <form action="#" class="form-inline text-center" method="post" accept-charset="utf-8">
            <div class="col-md-12">
              <a name="code">&nbsp;</a>
              Code Language
              <select name="language" class="form-control" #codeLanguage>
                <option value="">Choose</option>
                <option value="bash">Bash</option>
                <option value="c">C</option>
                <option value="csharp">C#</option>
                <option value="cpp">C++</option>
                <option value="css">CSS</option>
                <option value="html">HTML</option>
                <option value="java">Java</option>
                <option value="javascript">JavaScript</option>
                <option value="json">JSON</option>
                <option value="perl">Perl</option>
                <option value="php">PHP</option>
                <option value="nohighlight">Plain Text</option>
                <option value="python">Python</option>
                <option value="ruby">Ruby</option>
                <option value="xml">XML</option>
                <option value="markdown">Markdown</option>
              </select><br/><br/>
              <textarea style="width: 100%; height: 200px;" class="form-control"  name="content" #updateContent>{{contentPaste}}</textarea>
            </div>

            <div class="col-md-12 text-left">
              <table>
                <tbody>
                <tr>
                  <td>
                    <input type="submit" class="btn btn-success btn-sm" (click)="onUpdatePaste(codeLanguage.value , updateContent.value)" value="Update">
                  </td>
                </tr>
                </tbody>
              </table>
              <p></p>
            </div>

          </form>
        </div>
      </div>
    </div>

  </div>
</div>