<div class="container">
  <div class="content">

    <app-welcome></app-welcome>

    <div class="row">
      <form action="#" class="form-inline text-center" method="post" accept-charset="utf-8">
        <div class="col-md-12 text-center">
          Your Name:
          <input class="form-control" name="username" #userName value=""> Code Language
          <select name="language" class="form-control" #codeLanguage>
            <option value="">Choose</option>
            <option value="bash">Bash</option>
            <option value="c">C</option>
            <option value="csharp">C#</option>
            <option value="cpp">C++</option>
            <option value="css">CSS</option>
            <option value="html">HTML</option>
            <option value="java">Java</option>
            <option value="javascript">JavaScript</option>
            <option value="json">JSON</option>
            <option value="perl">Perl</option>
            <option value="php">PHP</option>
            <option value="nohighlight">Plain Text</option>
            <option value="python">Python</option>
            <option value="ruby">Ruby</option>
            <option value="xml">XML</option>
            <option value="markdown">Markdown</option>
          </select>
        </div>
        <div class="col-md-12">
          <a name="code">&nbsp;</a>
          <textarea style="width: 100%; height: 200px;" class="form-control" name="content" #textContent></textarea>
        </div>


        <div class="col-md-12">
          <table>
            <tr>
              <td>
                <!-- <input type="submit" class="btn btn-success btn-sm" value="Paste Code"> -->
                <a style="color:#fff;" class="btn btn-success btn-sm" (click)="onClickPaste(userName.value, codeLanguage.value, textContent.value);">Paste Code</a>
              </td>
            </tr>
          </table>
        </div>

      </form>
    </div>

  </div>
</div>